* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Ebrima, sans-serif;
  color: #CFCFCF;
}

body {
  background: #2B2A2B;
  height: 100vh;
}

header {
  background-color: #171717;
  height: 8vh;
  overflow: hidden;
  padding-left: 20px;
  display: flex;
  align-items: center;
}
header a {
  display: flex;
  align-items: center;
  height: 100%;
}
header a img {
  max-height: 300%;
}

.modal__form {
  width: 40vw;
  margin: 0 auto;
  padding: 2em;
  background-color: #2b2a2b85;
  backdrop-filter: blur(2px);
  border-radius: 15px;
}
.modal__form .dismiss {
  text-align: right;
  font-size: 1.5em;
}
.modal__form .dismiss i {
  color: #00B764;
  cursor: pointer;
}
.modal__form .delete {
  background-color: #ac0000;
}
.modal__form .worktime {
  display: flex;
  justify-content: space-between;
}
.modal__form .form-element {
  margin-top: 6vh;
  position: relative;
}
.modal__form .form-element .label {
  position: absolute;
  pointer-events: none;
  top: -2px;
  left: 0px;
  transition: 0.2s ease all;
}
.modal__form .form-element select {
  background: none;
  cursor: pointer;
  width: 100%;
  border: none;
  border-bottom: 1px solid #636363;
}
.modal__form .form-element select:focus {
  border-color: #00B764;
  cursor: auto;
}
.modal__form .form-element select:focus ~ .label, .modal__form .form-element select:not(:focus):valid ~ .label {
  top: -15px;
  font-size: 10px;
}
.modal__form .form-element select option {
  background: #2B2A2B;
}
.modal__form .form-element input {
  cursor: pointer;
  background: none;
  width: 100%;
  outline: none;
  border: none;
  border-bottom: 1px solid #636363;
}
.modal__form .form-element input:focus {
  border-color: #00B764;
  cursor: auto;
}
.modal__form .form-element input:focus ~ .label, .modal__form .form-element input:not(:placeholder-shown) ~ .label, .modal__form .form-element input:-webkit-autofill ~ .label {
  top: -15px;
  font-size: 10px;
}
.modal__form .form-element .error {
  color: #ac0000;
}
.modal__form .form-element .error i {
  color: #ac0000;
}
.modal__underlay {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.442);
}

a.button, button.button {
  cursor: pointer;
  pointer-events: auto;
  text-decoration: none;
  background: #00B764;
  border: none;
  font-size: 1em;
  padding: 0.2em 1em;
  border-radius: 4px;
  transition: color 0.5s, background-color 0.5s;
}
a.button:hover, button.button:hover {
  opacity: 0.85;
}

.buttons {
  margin-top: 4vh;
  width: 100%;
  display: flex;
  align-items: stretch;
  justify-content: space-between;
}
.buttons .register {
  background-color: #CF9900;
}

.login {
  height: 92vh;
  width: 80%;
  margin: auto;
  display: flex;
  align-items: center;
}
.login__display {
  display: flex;
  width: 45%;
  flex-direction: column;
  align-items: center;
}
.login__display img {
  max-width: 100%;
}
.login__display .slogan {
  width: 80%;
  text-align: center;
  font-weight: 500;
}
.login__title {
  width: 100%;
  text-align: center;
  font-weight: 500;
}
.login__form {
  width: 30%;
  margin: 0 auto;
}
.login__form .form-element {
  margin-top: 6vh;
  position: relative;
}
.login__form .form-element .label {
  position: absolute;
  pointer-events: none;
  top: -2px;
  left: 0px;
  transition: 0.2s ease all;
}
.login__form .form-element select {
  background: none;
  cursor: pointer;
  width: 100%;
  border: none;
  border-bottom: 1px solid #636363;
}
.login__form .form-element select:focus {
  border-color: #00B764;
  cursor: auto;
}
.login__form .form-element select:focus ~ .label, .login__form .form-element select:not(:focus):valid ~ .label {
  top: -15px;
  font-size: 10px;
}
.login__form .form-element select option {
  background: #2B2A2B;
}
.login__form .form-element input {
  cursor: pointer;
  background: none;
  width: 100%;
  outline: none;
  border: none;
  border-bottom: 1px solid #636363;
}
.login__form .form-element input:focus {
  border-color: #00B764;
  cursor: auto;
}
.login__form .form-element input:focus ~ .label, .login__form .form-element input:not(:placeholder-shown) ~ .label, .login__form .form-element input:-webkit-autofill ~ .label {
  top: -15px;
  font-size: 10px;
}
.login__form .form-element .error {
  color: #ac0000;
}
.login__form .form-element .error i {
  color: #ac0000;
}
.login__form .forgot {
  text-decoration: none;
  display: block;
  margin-top: 2em;
  text-align: right;
}
.login__form .forgot:hover {
  text-decoration: underline;
}

.register-form {
  width: 60%;
}

.register-title {
  margin-top: 1em;
}

.flex-form {
  display: flex;
  justify-content: space-between;
  margin-top: 8%;
}
.flex-form .form-element:not(.last) {
  margin-bottom: 2em;
}

.column {
  width: 40%;
  display: flex;
  flex-direction: column;
}

.pwd-reset {
  margin: auto;
}

.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 92vh;
  width: 80%;
  margin: auto;
}
.menu__title {
  font-size: 3.5em;
}
.menu__title h1 {
  display: inline-block;
  transform: scale(1, 1.5);
  -webkit-transform: scale(1, 1.5);
  -moz-transform: scale(1, 1.5);
  -o-transform: scale(1, 1.5);
  transform-origin: 0% 70%;
}
.menu__buttons {
  display: flex;
  justify-content: center;
}
.menu__column .square {
  margin: 0px 5px 5px 0px;
  height: 20vh;
  width: 20vh;
  border-radius: 5px;
}
.menu__column .square:not(.transparent):not(.menu__button) {
  filter: brightness(70%);
}
.menu__column .square.menu__button {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color ease 0.3s, color ease 0.3s;
}
.menu__column .square.menu__button:hover {
  background-color: #CFCFCF !important;
}
.menu__column .square.menu__button:hover a {
  color: #00B764;
}
.menu__column .square.menu__button a {
  text-decoration: none;
  font-weight: 600;
  font-size: 2em;
}
.menu__column.column-1 .square {
  background-color: #00A359;
}
.menu__column.column-1 .square.transparent {
  background-color: transparent;
}
.menu__column.column-2 .square {
  background-color: #00B764;
}
.menu__column.column-2 .square.transparent {
  background-color: transparent;
}
.menu__column.column-2 .square.menu__button:hover {
  background-color: #00e07a;
}
.menu__column.column-3 .square {
  background-color: #00E17B;
}
.menu__column.column-3 .square.transparent {
  background-color: transparent;
}
.menu__column.column-3 .square.menu__button:hover {
  background-color: #0bff90;
}
.menu__column.column-4 .square {
  background-color: #00FF8B;
}
.menu__column.column-4 .square.transparent {
  background-color: transparent;
}

.employee {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.main__team {
  height: 92vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.team {
  height: 100%;
  width: 90vw;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.team__title {
  margin-top: 1em;
  font-weight: 500;
}

.employee__name {
  display: flex;
  align-items: baseline;
}
.employee__name button {
  height: 2em;
  margin-left: 2em;
}
.employee__name h1 {
  margin-top: 0.5em;
  margin-bottom: 0.3em;
  margin-left: 1em;
}
.employee__details {
  width: 80%;
  margin: auto;
  display: flex;
  justify-content: space-between;
}
.employee__details .column {
  font-size: 1.2em;
  height: 60%;
  display: flex;
  flex-direction: column;
}
.employee__details .column * {
  margin-top: 0.5em;
}
.employee__details .column__2 * {
  text-align: right;
}
.employee__details .column__2 *:not(.first) {
  margin-top: 0.8em;
}
.employee__details .advantages {
  width: 15vw;
  height: 15vw;
}
.employee__details .advantages__overlay {
  position: absolute;
  width: 15vw;
  height: 15vw;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}
.employee__details .advantages__label {
  font-size: 1.2em;
  margin-top: 3em;
}
.employee__details .advantages__title {
  font-size: 1.2em;
}

.project-history {
  width: 80%;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0.5em;
  margin: auto;
  font-size: 1.4em;
}
.project-history .history__title {
  margin-bottom: 0.5em;
}
.project-history .timeline {
  display: flex;
  justify-content: center;
}
.project-history .history__card {
  overflow: hidden;
  margin: 0 1.7em;
  text-align: center;
}
.project-history .history__card .project__finish {
  color: #CF9900;
}
.project-history .history__card .project__name {
  color: #00B764;
}
.project-history .history__card .dot {
  width: 15px;
  height: 15px;
  border-radius: 15px;
  background-color: #00B764;
  margin: auto;
}

.line {
  position: absolute;
  z-index: -1;
  height: 1px;
  width: 100%;
  background-color: #636363;
  right: 0;
  left: 0;
  bottom: 0.3em;
}

.projects {
  height: 92vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.project__title {
  font-weight: 500;
}
.project__list {
  position: relative;
  display: flex;
  height: 50vh;
  width: 140vw;
  align-items: center;
  justify-content: center;
}
.project__list__overlay {
  position: absolute;
  width: 100vw;
  height: 40vh;
  background: #2b2a2b;
  background: linear-gradient(90deg, #2b2a2b 2%, rgba(43, 42, 43, 0) 50%, #2b2a2b 98%);
  z-index: 1;
  left: 0;
  right: 0;
  margin: auto;
}
.project__card {
  background-color: #00B764;
  border-radius: 5px;
  margin: 20px;
  width: 200px;
  height: 200px;
  font-size: 1.1 em;
}
.project__card a {
  text-decoration: none;
}
.project__card a:hover {
  background-color: red;
}
.project__card .content {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.project__card .content h2 {
  font-weight: 600;
  margin-bottom: 10px;
  margin-top: 1em;
}
.project__card .content .client {
  text-align: center;
  width: 90%;
}
.project__card .content .finish-date {
  color: #bdbdbdd5;
  margin-bottom: 2em;
}
.project__controls {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.project__controls .navigate {
  width: 95%;
  display: flex;
  justify-content: space-between;
  margin: auto;
  margin-bottom: 1em;
}
.project__controls .previous, .project__controls .next, .project__controls .start {
  background-color: #CF9900;
}

.title-container {
  display: flex;
  align-items: center;
}
.title-container .single__project__title {
  margin-left: 2em;
  font-weight: 500;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-right: 1em;
}

.see-project {
  display: flex;
  justify-content: space-between;
  padding-top: 1em;
  width: 90vw;
  margin: auto;
}
.see-project i {
  color: #00B764;
}
.see-project h2 {
  font-weight: 500;
}
.see-project ul {
  list-style: none;
}
.see-project ul li {
  margin: 1em 0;
}
.see-project .details {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  margin-left: 7vw;
  font-size: 1.5em;
}
.see-project .details .client {
  margin-bottom: 2em;
}
.see-project .details .delivery {
  color: #CF9900;
}
.see-project .general {
  height: 65vh;
}
.see-project .team-meetings {
  height: 65vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.see-project .steps {
  width: 30vw;
  border-left: 1px solid #636363;
  padding-left: 1em;
}
.see-project .steps div {
  background-color: #171717;
  margin: 1em 0;
  padding: 0.5em;
  border-radius: 5px;
  border: 1px solid #CF9900;
}
.see-project .steps div h3 {
  margin-bottom: 0.5em;
}

/*# sourceMappingURL=style.css.map */
